go 1.19

use (
	./1-hello-world
	./10-concurrency
	./11-select
	./12-temp
	./13-reflection
	./14-sync
	./15-context
	./2-integers
	./3-iteration
	./4-arrays-slices
	./5-structs-methods-interfaces
	./6-pointers-errors
	./7-maps
	./8-dependency-injection
	./9-mocking
)
